---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Search">
  <div id="search"></div>
  <link href="/pagefind/pagefind-ui.css" rel="stylesheet">
  <script is:inline src="/pagefind/pagefind-ui.js"></script>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>
</BaseLayout>
