.responsive-image-wrapper {
    position: relative;
    overflow: hidden;
    background-color: var(--color-surface-hover);
    width: 100%;
}

.responsive-image-skeleton {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.responsive-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    position: relative;
    z-index: 2;
}

.responsive-image.loaded {
    opacity: 1;
}